<launch>

<!--   <node pkg="image_view" type="image_view" name="image_view" respawn="false" output="log">
	<remap from="/image" to="/ORB_SLAM/Frame" />
	<param name="autosize" value="true"/>
	</node>

	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ORB_SLAM)/Data/rviz.rviz" output="log">
   </node> -->

  <node pkg="ORB_SLAM2" type="Mono" name="ORB2Mono1"  args="/home/patrik/1ws/catkin_cur/src/ORB_SLAM2/Vocabulary/ORBvoc.txt /home/patrik/1ws/catkin_cur/src/ORB_SLAM2/data/bluefox.yaml" output="screen">

	<remap from="/camera/image_raw" to="/mv_26805864/image_raw"/>

  </node>

</launch>
